@import '../../../theme/mixins.scss';
@import '../../../theme/functions.scss';

.rounded-card {
  padding: pxToRem(8);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: pxToRem(0);

  // @include media-medium {
  //   min-height: pxToRem(243);
  // }
}

.restricted {
  max-width: pxToRem(220);
  min-width: pxToRem(220);
  min-height: pxToRem(280);
  max-height: pxToRem(280);
}

.default {
  background-color: var(--ion-card-background);
}

.light {
  background-color: var(--ion-color-light);
}

.orange {
  background-color: #fbab7e;
  background-image: linear-gradient(62deg, #fbab7e 0%, #f7ce68 100%);
}

.fire {
  background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
}

.green {
  background-image: linear-gradient(-20deg, #00cdac 0%, #8ddad5 100%);
}

.glass {
  background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
}

.obscure {
  background-color: #dcd9d4;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%),
    radial-gradient(at 50% 0%, rgba(255, 255, 255, 0.1) 0%, rgba(0, 0, 0, 0.5) 50%);
  background-blend-mode: soft-light, screen;
}

.cute-blue {
  background-image: linear-gradient(to top, #a3bded 0%, #6991c7 100%);
}

.pamela {
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);

  @include dark {
    background-image: linear-gradient(135deg, #7b798c 0%, #36445b 100%);
  }
}

.love {
  // background: rgb(239, 122, 255);
  // background: linear-gradient(238deg, rgba(239, 122, 255, 0.68531162464986) 0%, rgba(221, 197, 245, 1) 10%, rgba(255, 244, 252, 1) 47%);
  background: rgb(239, 122, 255);
  background: linear-gradient(228deg, rgba(239, 122, 255, 0.68531162464986) 0%, rgba(221, 197, 245, 1) 7%, rgba(255, 244, 252, 1) 70%, rgba(255, 255, 255, 1) 95%);
}

.young {
  background-image: linear-gradient(-225deg, #5d9fff 0%, #b8dcff 48%, #6bbbff 100%);

  @include dark {
    background-image: linear-gradient(-225deg, #1f56a9 0%, #3f2991 48%, #195a93 100%);
  }
}

.card-title-section {
  // display: flex;
  // justify-content: space-between;
  // align-items: center;
}

.card-overtitle {
  @include title-small;
}

.card-title {
  @include body-medium-bold;
}

.card-subtitle {
  margin-top: pxToRem(4);
  // @include body-large-bold;
  @include title-large;
}

.card-body-section {
  margin-top: pxToRem(8);
  @include body-large;
}

.card-footer-section {
  // margin-top: pxToRem(16);
}

.separable-footer {
  display: flex;
  justify-content: space-between;
}

.full-section {
  width: 100%;
}

.card-body-extra-section {
  margin-top: pxToRem(8);
}

.card-badge {
  font-size: pxToRem($font-size-body-xlarge);
  margin-right: pxToRem(6);
}

.title-left-section {
  display: flex;
  align-items: center;
}

.title-right-section {
  display: flex;
  align-items: center;
  justify-content: end;
}

.card-wrapper {
  margin-bottom: pxToRem(16);
  border-radius: pxToRem(10);
  @include box-shadow-large;
}

.bordered {
  // border: pxToRem(1) solid var(--ion-color-light);
  border: pxToRem(1) solid rgba(116, 116, 116, 0.433);
}