@import '../../../theme/mixins.scss';
@import '../../../theme/functions.scss';

.scroll-container {
  display: flex;
  align-items: center;
  overflow: hidden;
  max-width: pxToRem($container-max-xlarge);
  // background-color: var(--ion-color-light);

  &.hide-scrollbar {
    overflow: auto;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &.show-scroll {
    overflow: auto;
  }
}