@import '../../../theme/mixins.scss';
@import '../../../theme/functions.scss';

ion-content {
  --background: none;
  background: url('../../../assets/images/new-wave.svg') bottom left no-repeat fixed;
  background-size: 120%;

  @include media-medium {
    background: url('../../../assets/images/new-wave.svg') bottom left no-repeat fixed;
    background-size: 100%;
  }
}

.home-header {
  text-align: center;
}

.home-title {
  @include display-medium;
  margin-bottom: pxToRem(8);
}

.home-subtitle {
  @include title-medium;
}

.home-body {
  @include body-small;
}

.home-content {
  // margin-top: pxToRem(32);

  // @include media-medium {
  //   margin-top: pxToRem(16);
  // }
}

.home-row {
  justify-content: center;
  align-items: center;
}

.home-button {
  margin-left: pxToRem(0);
  margin-top: pxToRem(8);

  @include media-medium {
    margin-left: pxToRem(4);
    margin-top: pxToRem(0);
  }
}

.image-section {
  margin: pxToRem(4) auto;
  max-width: pxToRem(60);

  @include media-medium {
    max-width: pxToRem(120);
    margin: pxToRem(40) auto;
  }
}

.thumbnail-section {
  display: flex;
  justify-content: end;
}

.box {
  // background: #efefef;
  // border: 1px solid #efefef;
  margin: pxToRem(8) pxToRem(4);
  // padding: 0.2rem 0.7rem;
  //height: pxToRem(100);
  // width: pxToRem(300);
  // min-height: pxToRem(380);
  // max-height: pxToRem(380);
}

.card-image {
  padding: pxToRem(8) pxToRem(4);
}

.description-section {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.activity-image {
  max-width: pxToRem(140);
  margin: pxToRem(16) auto;

  &.small {
    max-width: pxToRem(60);
    margin: pxToRem(4) auto;
  }
}