@import "../../../theme/mixins.scss";
@import "../../../theme/functions.scss";

.profile_photo {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.profile_photo_img {
    object-fit: cover;
    width: 200px;
    height: 200px;
    border-radius: pxToRem(8);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    padding: pxToRem(8);
}

.form-element {
    margin-top: pxToRem(12);
}

.register-content {
    margin: pxToRem(8);
    padding-bottom: pxToRem(140);
}